<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ifl.mcpartner" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MC-Partner</name>
    <description>
        A sample Apache Cordova application that teaches literacy.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="EnableViewportScale" value="true" />
    <preference name="Orientation" value="landscape" />
</widget>
